<h1>Usuario</h1>

<form action="/Usuario/login" method="post">

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Compra de Pizza</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Homepage <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/crearUsuario">Crear Usuario</a>
        </li>
      </ul>

    </div>
  </nav>


  <div class="col-md-6">
    <!-- Login Form -->
    <div class="nb-login">
      <h3 class="scenter">Sign In</h3>
      <form action="/Usuario/login" method="post">
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 placeholder="Ingresar Usuario"
                 id="nombreUsuario"
                 name="nombreUsuario"
          >
        </div>
        <div class="form-group">
          <input type="password"
                 class="form-control"
                 placeholder="Ingresar Password"
                 id="password"
                 name="password">
        </div>
        <button type="submit" class="btn btn-block"
        >Ingresar</button>
      </form>
    </div>
  </div>


</form>
